.DS_Store
.vscode/settings.json
/.idea/
__pycache__/*
build/*
dist/*
docs/_build/*
docs/_static/*
docs/_templates/*
*.egg-info/
mlrose_ky/*/*/__pycache__/*
mlrose_ky/*/__pycache__/*
mlrose_ky/__pycache__/*
tests/__pycache__/*
tsp_test/*
venvp/
.aider*
