# macOS system files
.DS_Store

# VSCode settings
.vscode/settings.json

# JetBrains IDEs settings
/.idea/

# Python bytecode cache
__pycache__/*
*/__pycache__/*
**/__pycache__/*

# Build directories
build/
dist/

# Documentation build directories
docs/_build/*
docs/_static/*
docs/_templates/*

# Package info
*.egg-info/

# Test metadata
.coverage

# Virtual environments
venvp/
venv

# Aider tool
.aider*

.env