.DS_Store
.vscode/settings.json
/.idea/
__pycache__/*
build/*
dist/*
docs/_build/*
docs/_static/*
docs/_templates/*
mlrose.egg-info/*
mlrose_hiive.egg-info/*
mlrose_hiive/*/*/__pycache__/*
mlrose_hiive/*/__pycache__/*
mlrose_hiive/__pycache__/*
tests/__pycache__/*
tsp_test/*
venvp/